{% extends 'base.html' %} {% block content %}

<body>
    <div class="container">
        <h1 class="mt-4 mb-3" style="font-family: 'SIMPSON'; margin-left: 1.5em;">Change password</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'index:index' %}">Home</a>
            </li>
            <li class="breadcrumb-item active">change-password</li>
        </ol><br /><br /><br />
        <div class="row">
            <div class="col-md-4 col-md-offset-4" style="border: 0.1px solid #06C0C0; padding: 20px;">
                {# Load the tag library #} {% load bootstrap3 %} {# Load CSS and JavaScript #} {% bootstrap_javascript %} {# Display django.contrib.messages as Bootstrap alerts #} {% bootstrap_messages %} {# Display a form #}
                <form action="" method="post" class="form">
                    <h1 style="text-align: center; font-family: 'SIMPSON';">Change your password</h1>
                    {% csrf_token %} {% bootstrap_form form layout='inline' %} {% buttons %}
                    <button class="btn btn-success" type="submit" name="submit" style="width: 100%;">
                        {% bootstrap_icon "star" %} Change password
                    </button> {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}

</html>