{% extends 'base.html' %}

<html>
{% block content %}

<body><br /><br /><br />
    <div class="col-md-4 col-md-offset-4" style="border: 0.1px solid #06C0C0; padding: 20px;">
        {# Load the tag library #} {% load bootstrap3 %} {# Load CSS and JavaScript #} {% bootstrap_css %} {% bootstrap_javascript %} {# Display django.contrib.messages as Bootstrap alerts #} {% bootstrap_messages %} {# Display a form #}
        <form action="" method="post" class="form">
            <h1 style="text-align: center; font-family: 'SIMPSON';">Enter new password</h1><br /> {% csrf_token %} {% bootstrap_form form layout='inline' %} {% buttons %}
            <button class="btn btn-primary" style="width:100%; background-color: #45B39D;">
                {% bootstrap_icon "star" %} Reset my password
            </button> {% endbuttons %}
        </form>
    </div>
</body>
{% endblock %}

</html>